#growl-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background-color: var(--first-palette-colour);
}

#logo-and-name-container{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

#logo-and-name-container h3{
    display: flex;
    align-items: center;
}
#logo-and-name-container a {
    outline: 0;
    color: var(--fourth-palette-colour);
}

#header-btn-container{
    width: 135px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.header-btn {
    color: var(--fourth-palette-colour);
    background-color: var(--first-palette-colour);
    border: 1px solid var(--fourth-palette-colour);
    border-radius: 5px;
    width: 55px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

#username{
    color: var(--fourth-palette-colour);
    text-decoration: none;
    align-self: center;
}

#sign-up-btn{
    color: var(--first-palette-colour);
    background-color: var(--fourth-palette-colour);
    width: 65px;
}

@media screen and (max-width: 768px) {
    #growl-header {
        flex-direction: column;
        height: auto;
        padding-bottom: 10px;
    }
    
    .header-btn {
        margin-left: 0;
        margin-top: 10px;
        width: auto;
        height: auto;
    }
}
